{{newPv.heureRealisation}}
<span class="text mr-5">اضافة محضر</span>
<div class="card mt-4">  
   <div class="card-header cardHeader">
     المرجع
   </div>
         
   <div class="card-body">
       <form class="form-inline row">
            <div class="form-group col-md-3">
                <label class="mb-2">نوع المحضر</label>
                <select  [(ngModel)]="newPv.sourcePvs"  name="sourcePvs" class="form-select" aria-label="Default select example">
                    
                    <option selected></option>
                    <option *ngFor="let sourcePv of sourcePvs" [ngValue]="sourcePv">{{sourcePv.nom}}</option>
                    
                </select>
            </div>
  

            <div class="form-group col-md-3">
                <label class="mb-2">صنف الضابطة القضائية</label>
                <select [(ngModel)]="newPv.typePoliceJudic" name="typePoliceJudic" class="form-select" aria-label="Default select example">
                    <option selected></option>
                    <option *ngFor="let typePoliceJudic of typePoliceJudics" [ngValue]="typePoliceJudic">{{typePoliceJudic.nom}}</option>
                   
                  </select>
            </div>

            <div class="form-group col-md-3">
                <label class="mb-2">رقم محضر الضابطة القضائية</label>
                <select [(ngModel)]="newPv.typeSourcePvs" name="typeSourcePvs" class="form-select" aria-label="Default select example">
                    <option selected></option>
                    <option *ngFor="let typeSourcePv of typeSourcePvs" [ngValue]="typeSourcePv">{{typeSourcePv.nom}}</option>
                
                </select>
            </div>
             
         
            <div class="form-group col-md-3">
                <label class="mb-2">رقم الارسالية</label>
               <input [(ngModel)]="newPv.numEnvoi" name="numEnvoi" type="number" class="form-control">
            </div>

             <div class="form-group col-md-3">
                <label class="mb-2">تاريخ المحضر</label>
               <input [(ngModel)]="newPv.datePvs" name="datePvs" type="date" class="form-control">
            </div>

            <div class="form-group col-md-3">
                <label class="mb-2"> ساعة الانجاز </label>
               <input [(ngModel)]="newPv.heureRealisation" name="heureRealisation" type="time" class="form-control">
            </div> 
            <div class="form-group col-md-3">
                <label class="mb-2">موضوع المحضر</label>
               <input [(ngModel)]="newPv.subjectPv" name="subjectPv" type="text" class="form-control">
            </div> 
        
       
            <div class="mt-3">
                  <input class="form-check-input ms-3" [(ngModel)]="newPv.contreInnconue" name="contreInnconue" type="checkbox" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                  ضد شخص مجهول
                </label>
              
                
              </div>
            
       </form>

   </div>
   
</div>

<div>
    <div class="card mt-3">
        <div class="card-header cardHeader">
           اطراف المحضر  
           <a class="btn buttn"  routerLink="/addparties"> <i class="fa fa-plus ms-1 add"></i>طرف جديد</a>
        </div>

        <div class="card-body">
            <table class="table table-bordered ">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">اسم الطرف</th>
                    <th scope="col">صفته</th>
                    <th scope="col">محامو الطرف</th>
                    <th scope="col">الممثل القانوني</th>
                    <th scope="col">نوع الممثل القانوني</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>mdo</td>
                    <td>mdo</td>
                    <td>mdo</td>
                  </tr>

                </tbody>
              </table>
        </div>
    </div>
</div>
<input (click)="addPv()"  value="اضافة المحضر" class="btn btn-primary mt-3 mb-5 butt" >